@import url(https://fonts.googleapis.com/css?family=Assistant|Montserrat);

a {
    color: #dd4200;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.App {
    text-align: center;
    font-family: Assistant, sans-serif;
}

.App-header {
    background-color: #dd4200;
    padding: 15px;
    color: white;
    margin-bottom: 5em;
}

.App-header h1 {
    font-family: Montserrat, sans-serif;
}

.App-header a {
    color: #fff;
    text-decoration: none;
}

.App-header a:hover {
    text-decoration: underline;
}

.App-body {
    font-size: large;
}

.titleCase {
    text-transform: capitalize;
}

.Location-item {
    margin-bottom: 5em;
}

.loader {
    position: relative;
}

.Media-item {
    margin-bottom: 8em;
}

.Media-image {
    max-width: 100%;
}

nav ul {
    padding-left: 0;
    list-style: none;
}

nav ul li {
    display: inline;
    padding: 1em;
    margin: 0.5em;
}

.Paginator {
    padding-bottom: 5em;
}

.Paginator-link {
    padding: 0 1em;
}

@media screen and ( max-width: 600px ) {
    .App-header {
        margin-bottom: 2em;
    }

    .Media-image {
        max-width: 100%;
    }

    nav ul li {
        display: block;
        font-size: 150%;
        padding: 0.25em;
    }

    .Paginator {
        font-size: 150%;
        padding-bottom: 1.6em;
    }

    .Media-item:last-child {
        margin-bottom: 4em;
    }
}